<h1>Books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
  </tr>



    <% @books.each do |books| %>
    <tr>
    <td><%= books.title %></td>
    <td><%= books.body %></td>

    <td><%= link_to'Show', book_path(books) %></td>
    <!--<td>%= link_to'Edit', book_path(book) %></td>-->
    <!--<td>%= link_to'Destroy', book_path(book) %></td>-->
    </tr>
    <% end %>



</table>

<h2>New book</h2>
<%= form_with model:@newbook, local:true do |f| %>
<div>Title</div>
<div><%= f.text_field :title %></div>

<div>Body</div>
<div><%= f.text_area :body %></div>

<div><%= f.submit %></div>
<% end %>
